{% extends 'base.html' %}

{% block content %}

<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 offset-lg-3 offset-md-2">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Nueva dirección</h1>
            <form method="POST">
                {% csrf_token %}
                {% for campo in formulario %}
                <div class="form-group">
                    {{ campo.label_tag }}
                    {{ campo }}

                    {% if campo.errors %}
                    {{ campo.errors }}
                    {% endif %}
                </div>
                {% endfor %}
                <div class="text-right">
                    <button type="submit" class="btn btn-primary text-right">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}