<div class="mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for item in breadcrumb %}
                {% if item.activo %}
                    <li class="breadcrumb-item">
                        <a href="{{ item.url }}">{{ item.titulo }}</a>
                    </li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">{{ item.titulo }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
</div>