<div class="card mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <div class="font-weight-bold">
                    Fecha creacion:
                </div>
                <div>
                    {{ pedido.fecha_creacion }}
                </div>
            </div>
            <div class="col-2">
                <div class="font-weight-bold">
                    Estado:
                </div>
                <div>
                    {{ pedido.estado }}
                </div>
            </div>
            <div class="col-2">
                <div class="font-weight-bold">
                    Fecha pago:
                </div>
                <div>
                    {{ pedido.fecha_pago }}
                </div>
            </div>
            {% if not vista_empleado %}
            <div class="col-2">
                <div class="font-weight-bold">
                    Total:
                </div>
                <div>
                    ${{ pedido.total }}
                </div>
            </div>
            {% endif %}
            <div class="col-2">
                <div class="font-weight-bold">
                    Enviado a:
                </div>
                <div>
                    {% if pedido.mostrar_direccion %}
                        {{ pedido.direccion_envio.direccion }}
                    {% else%}
                        -
                    {% endif %}
                </div>
            </div>
            <div class="col-2">
                <div class="font-weight-bold">
                    <ul>
                        <li>
                            <a href="{% url 'pedidos:detalle' pedido.id %}">Ver detalles</a>
                        </li>
                        {% if request.user.tipo_usuario == 'EMPLEADO' and pedido.estado == 'Pago' %}
                        <li>
                            <a href="{% url 'pedidos:asignar_empleado' pedido.id %}">Tomar pedido</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>