{% extends 'base.html' %}

{% block content %}
{% if carrito.productos.exists %}

<div class="col-md-9">
    {% include 'carritos/snippets/tabla_productos.html' %}
</div>
<div class="col-md-3">
    <div class="card">
        <div class="card-body">
            <div class="font-weight-bold">
                <div>
                    Subtotal: 
                    <span class="text-success">${{ carrito.subtotal }}</span>
                </div>
                <div>
                    Comisión: 
                    <span class="text-success">{{ carrito.COMISION }}%</span>
                </div>
                <div>
                    Total: 
                    <span class="text-success">${{ carrito.total }}</span>
                </div>
            </div>
            <div class="mt-2">
                <a href="{% url 'pedidos:pedido' %}" class="btn btn-warning">Proceder al pago</a>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="col-12 text-center">
    <p class="h3">El carrito está vacío</p>
    <div class="mt-3">
        <a href="{% url 'productos:ofertas' %}">Ver ofertas</a>
    </div>
</div>

{% endif %}
{% endblock content %}