{% extends 'base.html' %}

{% block content %}
<div class="offset-xl-2 offset-lg-1 offset-md-1 col-xl-4 col-lg-5 col-md-5 col-sm-12">
    {% if producto.imagen %}
    <img src="{{ producto.imagen.url }}" alt="Imagen del producto" width="90%" >
    {% endif %}
</div>
<div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
    <div class="h1">{{ producto.titulo }}</div>
    <div>
        <p>{{ producto.descripcion }}</p>
    </div>
    <div class="h5 font-weight-bold">
        Precio: <span class="text-success">${{ producto.precio }}</span>
    </div>
    <div class="">
    </div>
</div>
{% endblock %}