<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">
            {{ direccion.direccion }}
        </h5>
        <div class="card-title">
            {{ direccion.observaciones }}
        </div>
        {% if editar %}
        <div class="mt-2">
            <a href="{% url 'direcciones:editar' direccion.id %}" class="btn btn-info btn-sm">Editar</a>
            {% if direccion.principal %}
                <a href="#" class="btn btn-dark btn-sm">Dirección principal</a>
            {% else %}
                <a href="#" class="btn btn-success btn-sm">Hacer principal</a>
                {% include 'direcciones/snippets/eliminar.html' %}
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>