{% extends 'base.html' %}

{% block breadcrumb %}
  {% include 'pedidos/snippets/breadcrumb.html' %}
{% endblock breadcrumb %}

{% block content %}
    <div class="col-md-9 mt-3">
        <div class="h3">
            Confirmar el pedido
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="font-weight-bold">
                            Dirección de envío
                        </div>
                        <div class="card-text">
                            {{ direccion.direccion }}
                        </div>
                        <div class="card-text">
                            {{ direccion.observaciones }}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="font-weight-bold">
                            Método de pago
                        </div>
                        <div class="card-text">
                            Tarjeta {{ tarjeta.empresa }} finalizada en {{ tarjeta.ultimos_digitos }} 
                        </div>
                    </div>
                    <div class="col-4">
                        {% include 'pedidos/snippets/cupon.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            {% include 'carritos/snippets/tabla_productos.html' %}
        </div>
    </div>
    <div class="col-md-3">
        {% url 'pedidos:completar' as siguiente_url %}
        {% include 'pedidos/snippets/resumen.html' with siguiente_url=siguiente_url %}
    </div>
{% endblock content%}