{% extends 'base.html' %}

{% block content %}
    <div class="col-md-9">
        <div class="h3 mt-3 mb-4">
            Seleccione dirección de envío
        </div>
        {% if direccion %}
            {% include 'direcciones/snippets/direccion.html' %}
        {% else %}
        <p>
            Usted no cuenta con una dirección, por favor agregue una.
        </p>
        {% endif %}
        <div class="mt-3">
            {% url 'pedidos:direccion' as next_url %}
            <a href="{% url 'direcciones:crear' %}?next={{next_url}}">Agregar nueva dirección de envío</a>
        </div>
    </div>
    <div class="col-md-3">
        <!-- {% url 'pedidos:tarjeta' as siguiente_url %} -->
        {% include 'pedidos/snippets/resumen.html' with siguiente_url=siguiente_url %}
    </div>
{% endblock content %}
