{% extends 'base.html' %}

{% block breadcrumb %}
{% include 'pedidos/snippets/breadcrumb.html' %}
{% endblock %}

{% block content %}
    <div class="col-md-9">
        <div class="h3 mt-3 mb-4">
            Revisá tu pedido antes de continuar
        </div>
        {% include 'carritos/snippets/tabla_productos.html' %}
    </div>
    <div class="col-md-3">
        {% url 'pedidos:direccion' as siguiente_url %}
        {% include 'pedidos/snippets/resumen.html' with siguiente_url=siguiente_url %}
    </div>
{% endblock content %}
