{% extends 'base.html' %}

{% block content %}
{% if lista_pedidos %}

<div class="col-12">
    <div class="h3 mt-3 mb-4">
        Mis pedidos
    </div>
    <div>
        {% for pedido in lista_pedidos %}
        {% include 'pedidos/snippets/pedido.html' %}
        {% endfor %}
    </div>
</div>

{% else %}

<div class="col-12 text-center">
    <p class="h3">No realizó ningún pedido</p>
    <div class="mt-3">
        <a href="{% url 'productos:ofertas' %}">Ver ofertas</a>
    </div>
</div>

{% endif %}
{% endblock content %}