{% url 'carritos:carrito' as carrito %}
{% url 'direcciones:direcciones' as direcciones %}
{% url 'pedidos:pedidos' as pedidos %}
{% url 'pedidos:asignados' as pedidos_asignados %}
{% url 'pedidos:entregados' as pedidos_entregados %}
{% url 'pedidos:enviados' as pedidos_enviados %}
{% url 'pedidos:pendientes' as pedidos_pendientes %}
{% url 'productos:ofertas' as ofertas %}
{% url 'tarjetas:tarjetas' as tarjetas %}
{% url 'usuarios:registrarse' as registrarse %}
{% url 'usuarios:iniciar_sesion' as iniciar_sesion %}
{% url 'usuarios:cerrar_sesion' as cerrar_sesion %}

<nav class="navbar navbar-expand-md navbar-light">
  <a href="{% url 'index' %}" class="navbar-brand">Donjo-APP</a>

  <button type="button" name="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse"
    data-target="#navb">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navb" class="navbar-collapse collapse hide">
    {% if request.user.is_anonymous or request.user.tipo_usuario == 'CLIENTE' %}
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="fas fa-list-ul"></span>
          Categorías
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for categoria in categorias %}
          <a class="dropdown-item" href="{% url 'categorias:productos_por_categoria' categoria.slug %}">{{ categoria.nombre }}</a>
          {% endfor %}
        </div>
      </li>
      <li class="navbar-item">
        <a href="{{ ofertas }}" class="nav-link {% if request.path == ofertas %} active {% endif %}">
          <span class="fas fa-shopping-cart"></span>
          Ofertas
        </a>
      </li>
    </ul>
    {% endif %}

    <ul class="nav navbar-nav ml-auto">
      {% if request.user.is_anonymous or request.user.tipo_usuario == 'CLIENTE' %}
      <li class="navbar-item">
        <a href="{{ carrito }}" class="nav-link {% if request.path == carrito %} active {% endif %}">
          <span class="fas fa-shopping-cart"></span>
          Mi Carrito
        </a>
      </li>
      <li class="navbar-item">
        <a href="{{ direcciones }}" class="nav-link {% if request.path == direcciones %} active {% endif %}">
          <span class="fas fa-location-arrow"></span>
          Mis Direcciones
        </a>
      </li>
      <li class="navbar-item">
        <a href="{{ pedidos }}" class="nav-link {% if request.path == pedidos %} active {% endif %}">
          <span class="fas fa-shipping-fast"></span>
          Mis Pedidos
        </a>
      </li>
      <li class="navbar-item">
        <a href="{{ tarjetas }}" class="nav-link {% if request.path == tarjetas %} active {% endif %}">
          <span class="fab fa-cc-stripe"></span>
          Mis Tarjetas
        </a>
      </li>
      {% elif request.user.is_authenticated or request.user.tipo_usuario == 'EMPLEADO'  %}
      <li class="navbar-item">
        <a href="{{ pedidos_pendientes }}" class="nav-link {% if request.path == pedidos_pendientes %} active {% endif %}">
          <span class="fas fa-box-open"></span>
          Pedidos Pendientes
        </a>
      </li>
      <li class="navbar-item">
        <a href="{{ pedidos_asignados }}" class="nav-link {% if request.path == pedidos_asignados %} active {% endif %}">
          <span class="fas fa-box"></span>
          Pedidos Asignados
        </a>
      </li>
      <li class="navbar-item">
        <a href="{{ pedidos_enviados }}" class="nav-link {% if request.path == pedidos_enviados %} active {% endif %}">
          <span class="fas fa-shipping-fast"></span>
          Pedidos Enviados
        </a>
      </li>
      <li class="navbar-item">
        <a href="{{ pedidos_entregados }}" class="nav-link {% if request.path == pedidos_entregados %} active {% endif %}">
          <span class="fas fa-shipping-fast"></span>
          Pedidos Entregados
        </a>
      </li>
      {% endif %}
      {% if request.user.is_authenticated %}
      <li class="navbar-item">
        <a href="{{ cerrar_sesion }}" class="nav-link">
          <span class="fas fa-sign-in-alt"></span>
          Salir
        </a>
      </li>
      <li class="navbar-item">
        <a class="nav-link active">
          <span>¡Hola, {{ user.username }}!</span>
        </a>
      </li>
      {% else %}
      <li class="navbar-item">
        <a href="{{ iniciar_sesion }}" class="nav-link {% if request.path == iniciar_sesion %} active {% endif %}">
          <span class="fas fa-user"></span>
          Iniciar Sesión
        </a>
      </li>
      <li class="navbar-item">
        <a href="{{ registrarse }}" class="nav-link {% if request.path == registrarse %} active {% endif %}">
          <span class="fas fa-user-plus"></span>
          Registrarse
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>